@charset "UTF-8";

:root {
	--principal:  Arial, Helvetica, sans-serif;
}

@media all {
	
	* {
		margin: 0px;
		padding: 0px;
		font-family: var(--principal);
		background-attachment: fixed;
	}
	
	body {
		background:black ;
		color: white;
		margin: auto;
	}
	
	body::-webkit-scrollbar { 
		background-color: black; 
	} 

	body::-webkit-scrollbar-thumb { 
		background-color:red; 
		border-radius: 10px;
	}

	header {
		text-align: center;
		background-color: black;
		color: white;
		padding: 10px;
		font: normal bold 1.3em var(--principal);
		text-shadow: 2px 2px 2px black;
		box-shadow: 0px 0px 5px white;
		margin-bottom: 3px;
}
	
	main {
		background-color: black;
		max-width: 950px;
		min-width: 250px;
		margin: auto;
		text-align: center;
	}

	#ftcarros img {
		max-width: 350px;
		height: 200px;
		background-attachment: fixed;
		background-size: contain;
		border: 2px solid red;
		border-radius: 15px;
	}

	#ftcarros a {
		display: inline-block;
		margin: 10px 20px;
		text-decoration: none;
		color: red;
	}

	#ftcarros a:hover {
		color: white;
		transition: 0.25s;
	}

	#ftcarros img:hover {
		width: 360px;
		height: 205px;
		border: 2px solid white;
		transition: 0.5s;
	}

	figcaption {
		margin-top: 10px;
		font-weight: bold;
	}
	
	p {
		padding: 10px;
		font: normal bold 19px var(--principal);
		text-align: justify;
		text-indent: 40px;
	}

	strong {
		color: yellow;
	}

	a {
		color: #00ABC2;
	}

	a:hover {
		color: #00D8F5;
	}

	a h2 {
		color: white;
	}
	

	footer {
		text-align: center;
		background-color: white;
		color: black;
	}

	footer a {
		text-decoration: none;
		color: rgb(17, 0, 250);
	}

	footer a:hover {
		color: red;	
	}

	footer p {
		text-align: center;
	}

	#infocarros {
		margin-top: 20px;
		padding: 10px;
	}

	#infocarros h2 {
		background-color: red;
		padding: 10px;
		margin: 25px auto;
	}

	#infocarros div {
		max-width: 900px;
	}
}

@media screen and (orientation: portrait) {
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background-color: red;
	}

	header {
		font: normal bold 0.7em var(--principal);
	}

	main {
		width: 94.5vw;
	}

	#ftcarros img {
		width: 310px;
		height: 170px;
	}
	
	#ftcarros img:hover {
		width: 315px;
		height: 180px;
	}

	picture {
		text-align: center;
	}
	
}

@media screen and (orientation: landscape) {
	header {
		font: normal bold 1.3em var(--principal);
	}

	main {
		width: 96vw;
	}

	div {
		display: inline-block;
	}
}