@charset "UTF-8";

@media all {
	* {
		margin: 0px;
		padding: 0px;
		font-family: Arial, Helvetica, sans-serif;
		background-attachment: fixed;
	}
	
	html, body {
		background:black ;
		color: white;
	}
	
	html {
		
	}	
}